.topo{
    background-color: #F1EAD0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.topo img{
    width: 200px;
    flex-shrink: 0;
}

.topo img:last-child {
    width: 500px;
}

.topo input{
    width: 220px;
    padding: 12px 15px;
    border: 2px solid #D8CDA8;
    border-radius: 20px;
    font-size: 15px;
    outline: none;
}

body{
    margin: 0;
    background-color: rgb(255,255,255);
}

.titulo-categoria{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 10px 0; 
}

.titulo-categoria img {
    object-fit: contain; 
}

.hamburgueres img,
.acompanhamentos img{
    height: 120px;
}

.hamburgueres img{
    width: 600px;
}

.acompanhamentos img{
    width: 700px;
}

.acompanhamentos{
    margin-top: -20px;
}

.cardapio{
    width: 90%;
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; 
    padding-bottom: 40px; 
}

.produto{
    background-color: #F1EAD0;
    border: 2px solid #D8CDA8;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    cursor: pointer;
}

.produto h1{
    font-size: 25px;
    color: #000000;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.produto img{
    width: 80%;
    height: auto;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 20px; 
}

.produto p{
    font-size: 16px;
    line-height: 1.5; 
}

.produto .preco{
    font-size: 22px;
    font-weight: bold; 
    color: #8B0000;
}

.produto button{
    background-color: #8B0000;
    border: none; 
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer; 
    margin-top: auto;
}

.produto:hover {
    background-color: #D8CDA8;  
}

.produto button:hover {
    background-color: #650000;
}

@media (max-width: 1000px){
    .cardapio{
        grid-template-columns: repeat(2, 1fr);
    }

    .topo img {
        width: 150px;
    }

    .topo img:last-child{
        width: 350px;
    }

    .topo input{
        width: 100px;
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .topo{
        padding: 10px;
        gap: 10px;
        flex-direction: column; 
    }

    .logos {
        gap: 10px;
        flex-direction: column; 
    }

    .topo img {
        width: 150px;
    }

    .topo img:last-child{
        width: 350px;
    }

    .topo input {
        width: 90px;
        font-size: 5px;
    }

    .cardapio {
        grid-template-columns: 1fr;
    }

    .hamburgueres img{
        width: 300px;
        height: 100px;
    }

    .acompanhamentos img{
        width: 400px;
        height: 150px;
        margin-top: -20px;
    }
}

footer{
    background-color: #F1EAD0;
    color: #000000;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer img{
    width: 30px;
    vertical-align: middle;
}
